.bestvpn_container {
}

.bestvpn_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

@media (min-width: 720px) {
	.features_container,
	.bestvpn_container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
